.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 100px;
}
body {
  background: linear-gradient(135deg, #121212, #1a1a2e, #611da0, #1a1a2e);
  background-size: 400% 400%;
  animation: gradientShift 15s ease-in infinite;
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
